#block-system-main{
  display: block;
  padding-left: 26px;
  padding-right: 36px;
  padding-bottom: 28px;
  min-height: 476px;
}

div.region.region-content.col-md-11.col-sm-9 {
  background-color: #fff;
  border-radius: 4px;
}

// Project statistic
#block-brilliant-pr-project-statistics {
  padding: 10px;
  color: #999;
  background-color: #111111;
  border-radius: 6px;
  font-size: 14px;
  top: 4px;
  position: relative;
  margin-right: -9px;
  width: 100%;
  float: left;
  margin-top: 20px;

  h2 {
    font-size: 12px;
    float: left;
    margin-top: -44px;
    margin-right: -14px;
    background-color: #111111;
    padding: 9px;
    border-radius: 7px;
    position: relative;
    left: -10px;
    top: 10px;
  }
  }

// Task statistic
#block-brilliant-pr-task-statistics {
  padding: 10px;
  color: #999;
  background-color: #111111;
  border-radius: 6px;
  font-size: 14px;
  top: 4px;
  position: relative;
  margin-right: -9px;
  width: 100%;
  float: left;
  margin-top: 50px;

  h2 {
    font-size: 12px;
    float: left;
    margin-top: -44px;
    margin-right: -14px;
    background-color: #111111;
    padding: 9px;
    border-radius: 7px;
    position: relative;
    left: -10px;
    top: 10px;
  }
}

#block-brilliant-pr-brilliant-user-avatar-block {
  position: relative;
  float: left;
  color: #999;
  width: 100%;
  border-radius: 6px;
  padding: 10px;

  h2 {
  display: none;
}
}



.avatar_user_name {
  color: #999;
  position: relative;
  margin-left: 64px;
  top: 4px;
  font-size: 15px;
  padding-top: 31px;
  line-height: 64px;
}

.avatar {
  display: block;
  position: absolute;
  top:  19px;
}