#block-system-main{
  display: block;
  padding-left: 26px;
  padding-right: 36px;
  padding-bottom: 28px;
}

div.region.region-content.col-md-11.col-sm-9 {
  background-color: #fff;
  border-radius: 4px;
}