.approve_label {
  width: 10px;
  height: 10px;
  background-color: #FEA60A;
  border-radius: 10px;
  position: relative;
  float: left;
  top: 4px;
  margin-right: 10px;
}

.process_label {
  width: 10px;
  height: 10px;
  background-color: #5bff6a;
  border-radius: 10px;
  position: relative;
  float: left;
  top: 4px;
  margin-right: 10px;
}

.complete_label {
  width: 10px;
  height: 10px;
  background-color: #00ADFF;
  border-radius: 10px;
  position: relative;
  float: left;
  top: 4px;
  margin-right: 10px;
}

.overdue_label {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;
  position: relative;
  float: left;
  top: 4px;
  margin-right: 10px;
}

.btn-create {
  background: transparent;
  color: #999;
  span.round_label {
    background-color: #999;
    width: 23px;
    height: 23px;
    text-align: center;
    position: relative;
    border-radius: 11px;
    float: left;
    color: #555;
    padding-left: 5px;
    padding-top: 2px;
    margin-right: 10px;
    margin-top: -1px;
  }

}

.btn-create:hover {
  background: transparent;
//  color: #fff;
  cursor: pointer;

  span.round_label {
    background-color: #555;
    width: 23px;
    height: 23px;
    text-align: center;
    position: relative;
    border-radius: 11px;
    float: left;
    color: #999;
    padding-left: 5px;
    padding-top: 2px;
    margin-right: 10px;
    margin-top: -1px;
  }

}

.btn-create a:hover {
  background: transparent;
  color: #fff;
}
button#create-project-btn {
  border: 0;
}
