#menu_float {
//  background-color: #ddd;
    padding: 0;
    width: 96%;
    text-align: left;
    float: left;
  margin-left: 10px;
  margin-right: 10px;



  .nav > li > a {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    text-transform: uppercase;
  }
  .nav > li > a:hover {
background: transparent;
  }

}