#menu_float {
//  background-color: #ddd;
  padding: 0;
  max-width: 58px;
  text-align: left;
  float:left;

  .nav > li > a {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
  }
  .nav > li > a:hover {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    border-bottom: 1px solid;
    background-color: #0962AF;
    color: #fff !important;
    border-radius: 4px;
  }

}